<div class="about">
  <h1 class="about__title">ラーメンPOSTの使い方</h1>
  <ul class="about__list">
    <li class="about__item">当サイトはラーメン専門のSNSです。</li>
    <li class="about__item">ラーメンの画像を共有するには、会員登録が必要です。</li>
    <li class="about__item">会員登録することにより、投稿や検索、フォローなどの様々な機能が使えます。</li>
  </ul>
</div>

