<div class="home">
  <h1 class="home__title">ようこそ、ラーメンPOSTへ！！</h1>
  <% if user_signed_in? %>
    <p class="home__text">
      このサイトは、ラーメン専門のSNSサイトです。<br>
      自身でラーメンPOSTの投稿をしたり、他のユーザーをフォローしましょう。<br>
    </p>
  <% else %>
    <p class="home__text">
      このサイトは、ラーメン専門のSNSサイトです。<br>
      会員登録してはじめましょう。<br>
    </p>
    <a>
      <%=link_to "新規会員登録", new_user_registration_path, class: "home__link" %>
    </a>
  <% end %>
</div>
