<div class="home">
  <h1 class="home__title">ようこそ、ラーメンPOSTへ！！</h1>
  <p class="home__text">
    このサイトは、ラーメン専門のSNSサイトです。<br>
    会員登録してはじめましょう。<br>
  </p>
  <a>
   <%=link_to "新規会員登録", new_user_registration_path, class: "home__link" %>
  </a>
</div>
