<%= form_with model: @post, local:true do |f| %>
  <div class="form">
    <h1 class="form__title">投稿を作成</h1>
    <h4 class="form__name">画像</h4>
    <%= f.attachment_field :post_image, class: "form__field" %>
    <h4 class="form__name">コメント</h4>
    <%= f.text_area :introduction, class: "form__field" %>
    <div class="form__submit"><%= f.submit '投稿' %></div>
  </div>
<% end %>