<%# フォローフォロワーの部分テンプレート %>
<table class="follow-table">
  <thead class="follow-table__head">
    <tr class="follow-table__row">
      <th class="follow-table__title">Name</th>
      <th class="follow-table__title"></th>
    </tr>
  </thead>
  <tbody class="follow-table__body">
    <% users.each do |user| %>
      <tr class="follow-table__row">
        <td class="follow-table__item">
          <% if user.icon? %>
            <img src=<%= user.icon %> class="follow-table__icon">
          <% else %>
            <image src="/assets/default.png" class="follow-table__icon" %>
          <% end %>
          <div  class="follow-table__name">
            <%= user.nickname %>
          </div>
        </td>
        <td class="follow-table__button"><%= render 'users/relationships/follow_button', user: user %></td>
      </tr>
    <% end %>
  </tbody>
</table>