<%# フォローフォロワー一覧の部分テンプレート %>
<% users.each do |user| %>
  <table  class="follow-table">
    <tr>
      <td class="follow-table__user">
        <%= attachment_image_tag user, :profile_image, format: 'jpg', fallback: "default.png", class: "follow-table__icon" %>
      </td>
      <td class="follow-table__name">
        <%= link_to user_path(user) do %>
          <%= user.nickname %>
        <% end %>
      </td>
      <td class="follow-table__button"><%= render 'users/relationships/follow_button', user: user %></td>
    </tr>
  </table>
<% end %>