<%# フォローフォロワーの部分テンプレート %>
<% users.each do |user| %>
  <table  class="follow-table">
    <tr>
      <td class="user-table__user">
        <% if user.icon? %>
          <img src=<%= user.icon %> class="follow-table__icon">
        <% else %>
          <image src="/assets/default.png" class="follow-table__icon" %>
        <% end %>
      </td>
      <td class="follow-table__name">
        <%= link_to user_path(user) do %>
          <%= user.nickname %>
        <% end %>
      </td>
      <td class="user-table__button"><%= render 'users/relationships/follow_button', user: user %></td>
    </tr>
  </table>
<% end %>