<div class="follow-page">
  <h1 class="follow-page__title">フォロワー</h1>
  <% if @users.empty? %>
   <div class="follow-page__text">フォロワーはいません。</div>
  <% else%>
    <%= render 'users/users/followings_followers', users: @users %>
  <% end %>
</div>
