<% if user == current_user %>
<% else %>
  <divclass="follow-button">
    <% if user.is_followed_by?(current_user) %>
      <%=link_to user_relationships_path(user), method: :delete do %>
        <div class="follow-button__red">フォロー解除</div>
      <% end %>
    <% else %>
      <%=link_to user_relationships_path(user), method: :post do %>
        <div class="follow-button__blue">フォロー</div>
      <% end %>
    <% end %>
  </div>
<% end %>