* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.article {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #555;
  border-radius: 5%;
  &__name{
    position: relative;
    margin-left: 85px;
    font-size: 25px;
  }
  &__intro{
    margin: 10px 10% 10px 10%;
    width: 80%;
    word-wrap: break-word;
  }
  &__image{
    margin: 35px 0 5px 0;
    width: 100%;
  }
  &__date{
    margin-left: 10%;
  }
  &__button{
    margin: 0px 10% 0px 10%;
  }
  &__detail{
    margin: 0px 10% 0px 10%;
    text-decoration: none;
  }
}