* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.follow-table{
  margin: 30px auto;
  width: 700px;
  border-spacing: 0;
  &__icon{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden
  }
  &__name{
    width: 400px;
    margin-left: 5px;
    display: inline-block;
    font-size: 18px;
    border-bottom: solid 2px #fb5144;
  }
  &__button{
    width: 200px;
    text-align: center;
    font-size: 15px;
  }
}