* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.follow-table{
  margin: 30px auto;
  width: 700px;
  border-collapse: collapse;
  border-spacing: 0;
  border: solid 2px #778ca3;
  &__title{
    padding: 10px;
    background: #e9faf9;
    border: solid 1px #778ca3;
    border-bottom: solid 2px #778ca3;
    text-align: center;
    font-size: 25px;
  }
  
  &__item{
    padding: 10px;
    border: solid 1px #778ca3;
    font-size: 18px;

  }
  &__icon{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden

  }
  &__name{
    margin-left: 5px;
    display: inline-block;
    font-size: 18px;

  }
  &__button{
    text-align: center;
    border: solid 1px #778ca3;
    font-size: 15px;

  }
}