* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.follow-table{
  margin: 30px auto;
  width: 700px;
  border-spacing: 0;
  &__icon{
    margin-left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    overflow: hidden
  }
  &__name{
    width: 420px;
    margin-left: 5px;
    display: inline-block;
    font-size: 25px;
    border-bottom: solid 2px #fb5144;
  }
}

@media screen and (max-width:768px) {
  .follow-table{
    width: 100%;
    &__icon{
      margin-left: 5px;
      width: 35px;
      height: 35px;
    }
    &__name{
      width: 200px;
    }
  }
}