* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.follow-button{
  font-size: 12px;
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 10vh;
    margin: 0 auto;
}