* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer{
  padding: 10px 4% 30px;
  width: 100%;
  background-color: #ff7f50;
  margin-top: auto;
  &__list{
    list-style: none;
    display: flex;
  }
  &__item{
    margin-right: 25px;
    color: #fff;
  }
}
@media screen and (max-width:425px){
  .footer{
    padding: 5px 4% 10px;
    &__item{
      font-size: 8px;
    }
  }
}