* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.likes-button{
  text-decoration: none;
  font-size: 25px;
  &__icon{
    color: red;
  }
}
@media screen and (max-width:425px) {
  .likes-button {
    font-size: 20px;
  }
}