* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.user-info{
  margin: 100px 20% 10px 20%;
  padding: 20px;
  border: 1px solid #555;
  &__name{
    margin-left: 85px;
    font-size: 25px;
  }
  &__intro{

  }
  &__link{
    float: left;

  }
  &__button{
    float: left;

  }
}