* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.user-info{
  margin: 100px auto 10px auto;
  padding: 20px 20px 50px 20px;
  border: 1px solid #555;
  width: 700px;
  &__name{
    font-size: 32px;
    float: left;
    margin: 30px;
  }
  &__icon{
    float: left;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
  }
  &__intro{
    margin: 125px 20px 20px 20px;
    font-size: 14px;
    clear: both;
  }
  &__link{
    float: left;
    font-size: 20px;
    width: 33%;
    text-align: center;
  }
  &__button{
    float: right;
    padding-right: 20px;
  }
}

@media screen and (max-width:768px) {
  .user-info{
    width: 100%;
    &__name{
      font-size: 28px;
    }
    &__intro{
      font-size: 14px;
    }
    &__link{
      font-size: 20px;
    }
    &__button{
      padding-right: 14px;
    }
  }
}

@media screen and (max-width:425px){
  .user-info{
    padding: 20px 20px 0px 20px;
    &__name{
      font-size: 24px;
      margin: 20px;
    }
    &__intro{
      font-size: 14px;
      margin-top: 90px;
    }
    &__link{
      font-size: 14px;
      width: 50%;
      text-align: left;
      padding-bottom: 14px;
    }
    &__icon{
      width: 60px;
    height: 60px;
    }
    &__button{
      padding-right: 14px;
      padding-bottom: 14px;
    }
  }
}